html, body, h1, h2, h3 {margin: 0px; padding: 0px;}
body {
   font-size: calc(12px + .1vw);
   font-family: Verdana, Arial, Sans-Serif;
   background-color: rgba(200,200,200,0.05);
   background-image: url(/img/checked.gif);
   color: #000;
}
.vip-bg {
   border-top: 1px solid #000;
   background: linear-gradient(to bottom, #cebb14 27%, #fbdf93 100%);
}
#crumbs {
   width: 80%;
   max-width: 1155px;
   margin: 7em auto 0;
   padding: 15px;
}
#main {
   width: 80%;
   max-width: 1200px;
   margin: 0em auto;
}
#header-image {
   text-align: center;
   padding: 10px 10px 20px 10px;
}
#header-image img {
   margin: 1em auto;
   /*max-width: 580px;*/
   /*width: 1150px;*/
   /*height: 720px;*/
   width: 100%;
}
.article-image img {
   width: 90%;
   margin: 1em auto;
   padding: 10px 10px 20px 10px;
   border: 1px solid #000;
   border-radius: 5px;
   max-width: 543px;
}
.article-image .source::before,
#header-image .source::before {
   content: 'Source: ';
}
.article-image .source,
#header-image .source {
   display: block;
   text-align: left;
   font-size: 0.8em;
   color: #afafaf;
}
/* margin: top box bottom left */
.box h1 {font-size: calc(22px + .4vw);margin: 25px 0px 25px 0px;font-weight:normal}
.box h2 {font-size: calc(20px + .4vw);margin: 20px 0px 20px 0px;font-weight:normal}
.box h3 {font-size: calc(18px + .4vw);margin: 15px 0px 15px 0px;font-weight:normal}
.box h4 {font-size: calc(16px + .3vw);margin: 10px 0px 10px 0px;font-weight:normal}
.box h5 {font-size: calc(14px + .2vw);margin:  8px 0px  8px 0px;font-weight:normal}
.box h6 {font-size: calc(16px + .2vw);margin:  8px 0px  8px 0px;font-weight:normal}

#header h1 {margin: 14px 0px 25px 0; text-shadow: 1px 1px 1px red}
.box h1 {margin: 0px;}
.box {
   width: 100%;
   margin-bottom: 10px;
   border: 1px dotted #545454;
   box-shadow: 3px 7px 7px rgba(0,0,0,0.2);
   background-color: #fff;
   border-radius: 5px;
   padding: 15px;
}
.box .flex {
   display: flex;
   flex-flow: row wrap;
   padding: 0;
   margin: 0;
}
.box .flex .col-50 {
   max-width: 558px;
   padding: 0 10px 5px 0;
   margin: 0 10px 0 0;
}
.box .flex .col-30 {
   max-width: 400px;
   padding: 0 10px 5px 0;
   margin: 0 10px 0 0;
   border: 1px dotted #545454;
}
.box .section,
.box .date {
   line-height: 2.5em;
   font-size: calc(11px + .1vw);
   font-weight: bold;
   color: #262626;
}
.box p {
   text-align: justify;
   margin-bottom: 1.5em;
}
.box p, .box ol li, .box ul li {
   line-height: 1.5em;
}
.box code, .code {
   color: rgba(4, 35, 83, 0.9);
   font-size: calc(14px + .1vw);
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
.box ol li, .box ul li {
   padding: 5px;
}
.box table {
   margin: 0;
   padding: 0;
   width: 100%;
}
.box > i {
   display: block;
}
.box b.br {
   display: block;
}
/*
.box > b {
   display: block;
   margin: 10px 0;
   font-size: 10px;
}
*/
.box .error h3{
   color: #f00;
}
.box small {
   padding: 0 0 .5em;
   font-weight: bold;
   display: block;
}
a:link, a:visited {
   text-decoration: underline;
   color: #000;
}
a:hover, a:active, a:focus {
   text-decoration: none;
   color: #f00;
}
.box code, a.code {
   color: rgba(4, 35, 83, 0.9);
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
a#jumper {
   top: 10px;
   left: 10px;
   padding: 10px;
   position: absolute;
   background-color: rgba(28,107,228,0.9);
   box-shadow: 3px 7px 7px rgba(0,0,0,0.2);
   border: 1px solid #545454;
   text-decoration: none;
   border-radius: 5px;
   font-weight: bold;
   color: #fff;
}
a#jumper:link, a#jumper:visited {
   z-index: -99;
   opacity: 0;
}
a#jumper:focus, a#jumper:active {
   opacity: 100%;
   z-index: 99;
}
#footer {
   padding: 10px;
   display: block;
   text-align: center;
}
#footer p {
   color: #000;
   font-weight: bold;
}
.hidden {display: none}
.line {
   height: 1px;
   display: block;
   margin: 20px 0;
   border-top: 1px solid #000;
}
.div { border: 1px solid #cebb14; }
.divd { border: 1px dotted #cebb14; }
#social ul {
   margin: 0;
   padding: .5em;
   display:flex;
   list-style-type: none;
}
#social ul li {
   padding: .5em;
}
#geek-code {
   display: none;
   position: absolute;
   background-color: rgba(0,0,0,0.9);
   box-shadow: 3px 7px 7px rgba(0,0,0,0.5);
   border: 1px solid #f00;
   text-decoration: none;
   border-radius: 5px;
   padding: 0 15px;
}
a#show-code:hover #geek-code {
   display: inline-block;
}
