html, body, h1, h2, h3 {margin: 0px; padding: 0px;}
body {
   font-size: calc(12px + .1vw);
   font-family: Verdana, Arial, Sans-Serif;
   background-color: rgba(200,200,200,0.05);
   color: #000;
   background-image: url(/img/checked.gif);
}
.vip-bg {
   border-top: 1px solid #000;
   background: linear-gradient(to bottom, #cebb14 27%, #fbdf93 100%);
}
#main {
   width: 80%;
   max-width: 1200px;
   margin: 7.7em auto;
}
/*
@media screen and (min-width: 600px) {
   .box {
      column-gap: 5px;
   }
}
*/
.box {
   width: 95%;
   margin: 0 auto;
   border: 1px dotted #545454;
   box-shadow: 3px 7px 7px rgba(0,0,0,0.2);
   background-color: #fff;
   border-radius: 5px;
   padding: 15px;
}
h1 {font-size: calc(22px + .4vw); text-shadow: 1px 1px 1px red}
h3 {font-size: calc(15px + .4vw)}
#menu h1 {margin: 14px 0px 25px 0}
.box h1 {margin: 0px;}
.box p {
   line-height: 1.5em;
}
table {
   margin: 0;
   padding: 0;
   width: 90%;
}
table .left {
   text-align: right;
}
table .left.top {
   vertical-align: top;
   padding-top: 10px;
}
label sup {
   color: #f00;
}
form input,
form textarea {
   background-color: rgba(221, 235, 255, 0.9);
   border: 1px solid rgba(28,107,228,0.9);
   border-radius: 5px;
   padding: 10px;
   width: 100%; 
}
form textarea {
   height: 250px;
}
form input:focus,
form textarea:focus {
   background-color: #fff;
}
/*
form :invalid {
   background-color: rgba(255, 155, 155, 0.1);
}
*/
.button {
   color: #000;
   float: left;
   width: 30%;
}
a:link, a:visited {
   text-decoration: underline;
   color: #000;
}
a:hover, a:active, a:focus {
   text-decoration: none;
   color: #f00;
}
a#jumper {
   top: 10px;
   left: 10px;
   padding: 10px;
   position: absolute;
   background-color: rgba(28,107,228,0.9);
   box-shadow: 3px 7px 7px rgba(0,0,0,0.2);
   border: 1px solid #545454;
   text-decoration: none;
   border-radius: 5px;
   font-weight: bold;
   color: #fff;
}
a#jumper:link, a#jumper:visited {
   z-index: -99;
   opacity: 0;
}
a#jumper:focus, a#jumper:active {
   opacity: 100%;
   z-index: 99;
}
#social ul {
   margin: 0;
   padding: .5em;
   display:flex;
   list-style-type: none;
}
#social ul li {
   padding: .5em;
}
#footer {
   padding: 10px;
   display: block;
   text-align: center;
}
#footer p {
   color: #000;
   font-weight: bold;
}
.hidden {display: none}
#geek-code {
   display: none;
   position: absolute;
   background-color: rgba(0,0,0,0.9);
   box-shadow: 3px 7px 7px rgba(0,0,0,0.5);
   border: 1px solid #f00;
   text-decoration: none;
   border-radius: 5px;
   padding: 0 15px;
}
a#show-code:hover #geek-code {
   display: inline-block;
}