   <div id="social">
      <ul>
         <li><img src="/img/m0rph.400x400.jpg" width="50" alt="This is .m0rph" /></li>
         <li><a href="https://github.com/m0rphisto/" target="_blank" title="GitHub"><img src="/img/github.png" width="45" alt="GitHub" /></a></li>
         <li><a href="https://www.linkedin.com/in/m0rphisto/" target="_blank" title="LinkedIn"><img src="/img/linkedin.png" width="45" alt="LinkedIn" /></a></li>
         <li><a href="https://x.com/m0rphisto/" target="_blank" title="@m0rphisto"><img src="/img/twitter-x.png" width="50" alt="Twitter (X)" /></a></li>
      </ul>
   </div>