         <div class="box">
            <h1><a href="{ARTICLE_URL}">{ARTICLE_HEADER}</a></h1>
            <span class="section">&#9776;&nbsp;Section: <a href="{SECTION_HREF}">{SECTION_TXT}</a></span>&nbsp;|
            <span class="date">&#9856;&nbsp;Posted: {POSTED}</span>&nbsp;|
            <span class="date">&#9856;&nbsp;Updated: {UPDATED}</span>
            <div class="flex">
               <div class="col-50">
                  <div id="header-image">
                     <a href="{ARTICLE_URL}"><img src="{IMG_SRC}" alt="{IMG_ALT}"/></a>
                     <span class="source">{IMG_SOURCE}</span>
                  </div>
               </div>
               <div class="col-50 index">
                  <p>
                     {PARAGRAPH}
                  </p>
                  <p><a href="{ARTICLE_URL}">Continue reading...</a></p>
               </div>
            </div>
         </div>
