   <div id="social">
      <ul>
         <li>
            <a id="show-code" href="#">
               <img src="/img/m0rph.400x400.jpg" width="50" />
               <div id="geek-code">
                  <pre>
-----BEGIN GEEK CODE BLOCK-----
GIT e+ d-- s++:++ a++ G++ C++ M-- W+++ L++++>$ P+++ E--- W+++ N++ o+
PS+++ PE+++ Y++ PGP++ !DI t++ 5-- X++ R++ tv- b-(++) h+ r- y(++)-
-----END GEEK CODE BLOCK-----
                  </pre>
               </div>
            </a>
         </li>
         <li><a href="https://github.com/m0rphisto/" target="_blank" title="GitHub"><img src="/img/github.png" width="45" alt="GitHub" /></a></li>
         <li><a href="https://www.linkedin.com/in/m0rphisto/" target="_blank" title="LinkedIn"><img src="/img/linkedin.png" width="45" alt="LinkedIn" /></a></li>
         <li><a href="https://x.com/m0rphisto/" target="_blank" title="@m0rphisto"><img src="/img/twitter-x.png" width="50" alt="Twitter (X)" /></a></li>
      </ul>
   </div>