         <div class="box">
            <h3>Contact data:</h3>
            <table>
               <tr>
                  <td class="left">
                     <p id="controller-test"></p>
                     <ol>
                        <li><a href="https://www.linkedin.com/in/m0rphisto/" target="_blank">https://linkedin.com/in/m0rphisto/</a></li>
                        <li><a href="https://twitter.com/m0rphisto/" target="_blank">https://twitter.com/m0rphisto/</a></li>
                        <li><a href="https://github.com/m0rphisto/" target="_blank">https://github.com/m0rphisto/</a></li>
                     </ol>
                  </td>
                  <td class="right">
                     <img src="/img/m0rph.400x400.jpg" width="100" alt="This is .m0rph">
                  </td>
               </tr>
            </table>
         </div>