   <!-- ⬆️ UP-LINK BUTTON -->
   <!--
   <a href="#top" id="up-link" title="Back to top">
   <svg viewBox="0 0 24 24" width="24" height="24" fill="none">
      <path d="M8 5l8 7-8 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="rotate(-90 12 12)" />
   </svg>
   </a>
   -->
   <div id="footer" class="vip-bg">
      <p>Your UserAgent: {USERAGENT}</p>
      <p>Your IP address: {IPADDRESS} and location: {GEOIPDATA}</p>
      <p>{FID}</p>
      <p>Copyright&nbsp;&copy;&nbsp;{COPYRIGHT}</p>
   </div>
