<!DOCTYPE html>
<html lang="en-US">
{HEADER}
</head>
<body>
   <a id="jumper" href="#main">Jump to the document body.</a>
   <div id="header">
      <h1><a href="/" title="/dev/root">.m0rph@work</a></h1>
{MENU}
   </div>

{BREADCRUMBS}

   <div id="main">

      <div class="flex-container">
         <div id="image" class="box">
            <img src="/img/tux-talking.jpg" alt="Tux talking" />
         </div>
         <div class="box" >
            <h3>All good Things are Three ...</h3>
            <p>
               <i>... as we Germans say.</i>
            </p>
            <p>
               <a class="code" href="https://nodejs.org" target="_blank">Node.js</a><sup>®</sup> is an open-source,
               cross-platform JavaScript runtime environment and became very popular these days. So this
               is an educational project, intended to improve my JavaScript skills, after my very exiting
               <a class="code" href="https://bitburner-official.github.io/" target="_blank">Bitburner</a> journey.
            </p>
            <p>
               <a href="https://github.com/m0rphisto/nhttpd" target="_blank"><b>nhttpd</b></a> follows the
               <code>Model/View/Controller</code> pattern, has a rudimetary template engine, does input sanitizing,
               access and error logging, and certainly does URL redirection.
            </p>
            <p>
               In the first version this tiny piece of server software delivers static HTML content, CSS,
               JavaScript and image files, but that's it.
            </p>
            <p>
               In this little project, I will put three things together. The first one, for sure, is to
               introduce myself. For a developer a small webpage or blog is the best way to do so,
               and is also a very small step to an own freelance business.
            </p>
            <p>
               The second part is to share my knowledge, because as a Buddhist I think this is my duty.
               In this egoistically coined world we should do work together, as we are all dependent from
               and linked to each other.<br/><b>We are all One!</b>
            </p>
            <p>
               The third and final part is, that this blog is a so called work sample. People in charge for personal or
               specific projects can use it to make a descision, if they want to corporate or hire. I do believe in the
               american work model. Paper is patient, but my sample shows what I am really able do to and deserve to
               get the chance to prove that I am worth it.
            </p>
            <p>
               So: Hello HeadHunters, YES I AM FOR HIRE! :-D
            </p>
            <p>
               <i>Have a lot of Fun ...</i>
            </p>
            <p>
               <small><b>.m0rph</b></small>
            </p>
         </div>
      </div>
   </div>
{BOX_CONTACT_DATA}
{FOOTER}
</body>
</html>
