<!DOCTYPE html>
<html lang="en-US">
{HEADER}
<body>
   <a id="jumper" href="#main">Jump to the document body.</a>
   <div id="header">
      <h1><a href="/" title="/dev/root">.m0rph's Blog</a></h1>
{MENU}
   </div>
{BREADCRUMBS}
   <div id="main">
      <div class="left">
         {NAVIGATION}
      </div>
      <div class="right">
         {ARTICLE}
      </div>
      <!-- ⬆️ UP-LINK BUTTON -->
      <a href="#top" id="up-link" title="Back to top">
      <svg viewBox="0 0 24 24" width="24" height="24" fill="none">
         <path d="M8 5l8 7-8 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="rotate(-90 12 12)" />
      </svg>
      </a>
   </div>
{BOX_CONTACT_DATA}
{FOOTER}
</body>
</html>
