<!DOCTYPE html>
<html lang="en-US">
{HEADER}
<body>
   <a id="jumper" href="#main">Jump to the document body.</a>
   <div id="header">
      <h1><a href="/" title="/dev/root">.m0rph@work</a></h1>
{MENU}
   </div>

{BREADCRUMBS}

   <div id="main">

      <div class="flex-container">
         <div id="image" class="box">
            <img src="/img/ssh-tux.jpg" alt="Ethical Hacking" />
         </div>

         <div class="box">
            <h3>My first own Business ...</h3>
            <p>
               In 2006 I founded my first own webdevelopment business, hosting client sites on my dedicated Linux
               server and managing the servers of my cooporation partners.
            </p>
            <p>
               <code>warpfactor.net</code> was online 2006 up to 2011.
            </p>
            <p>
               At this time I also developed modules and plugins for the OpenSource content management system
               <a class="code" href="https://joomla.org/" target="_blank">Joomla!</a> as a freelance member of the
               japanese company <a class="code" href="https://github.com/NinjaForge" target="_blank">NinjaForge</a>.
               My baby was <code>Ninja Security</code>, a plugin that was able to check all incoming headers and also
               <code>GET</code> and <code>POST</code> data for suspicious payloads.
            </p>
            <p>
               I also ran a site where I pusblished my modules, plugins and recent security news about
               <a class="code" href="https://joomla.org" target="_blank">Joomla!</a> and other modules listed in the
               <a class="code" href="https://extensions.joomla.org/" target="_blank">Extension Directory</a>.
            </p>
            <p>
               <code>joomlakom.de</code> was online 2007 up to 2011.
            </p>
         </div>
      </div>

      <div class="flex-container">
         <div class="box">
            <h3>The Dedicated Servers ...</h3>
            <p>
               Unfortunately the consiousness about network and especially website security was not at this high grade
               of focus as it is today. For that reason my business crashed in 2011, because I payed more attention
               on security than the competitors did. Hence this took more time during development and naturally
               it was a bit more expensive.
            </p>
            <p>
               A lot of tenants of so called <code>Root Servers</code> that do not really know how to manage a
               <code>Linux</code> system, do make use of web based server managing systems such as
               <a class="code" href="https://www.plesk.com/" target="_blank">Plesk</a>,
               <a class="code" href="https://cpanel.net/" target="_blank">cPanel</a> or
               <code>Java</code> based systems.
            </p>
            <p>
               In my opinion it is not a good idea to do so. I had to audit a number of machines and quite often
               I was able to inject shell commands on a web based system, got a <code>reverse shell</code>,
               did a little privilege escalation and owned the host. Not even <code>chroot</code> jailed, or
               running an <a class="code" href="https://www.openssh.com/" target="_blank">OpenSSH</a> server
               with the <code>SUID Bit</code> set under an unprivileged user.
            </p>
            <p>
               A lot of suiss cheese, as we Germans say. Oh my, so many weapons out there! The servers get owned and
               are used for further criminal activity. This is definitely a fact one should take care of, especially
               in the ages of <b>Ransomware&nbsp;Attacks</b>.
            </p>
         </div>

         <div class="box">
            <h3>My Challenge ...</h3>
            <p>
               You want to run an adequate and efficient business?<br/>
               You have to avoid unnecessary and unexpected expenses?<br/>
               So my words are:
               <ul>
                  <li><b>You need a hardened system.</b></li>
               </ul>
               If you can't do it on your own, do an investment for professionals like me. You will get a system
               with <b>actual</b> software, recently installed <b>security updates</b> and as an additional gift maybe
               a performance boost, due to disabled unnecessary services.
            </p>
            <p>
               Please keep in mind: Security is not for free. If you do think about contacting me to throw an eye at your server setup,
               my salary is at <b>€120</b> per hour.
            </p>
            <p>
               Please keep also in mind: If it can be proven that your server was misused and base for criminal activity causing financial damage
               to anyone, you will have to 
               <ul>
                  <li>prove you are <b>not</b> the criminal subject and</li>
                  <li>pay the compensation.</li>
               </ul>
            <p>
               And the most important thig definitely is:
               <ul>
                  <li><b>Your reputation will irreversibly be damaged.</b></li>
               </ul>
            </p>
         </div>
      </div>
      <!-- ⬆️ UP-LINK BUTTON -->
      <a href="#top" id="up-link" title="Back to top">
      <svg viewBox="0 0 24 24" width="24" height="24" fill="none">
         <path d="M8 5l8 7-8 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="rotate(-90 12 12)" />
      </svg>
      </a>
   </div>
{BOX_CONTACT_DATA}
{FOOTER}
</body>
</html>
