<!DOCTYPE html>
<html lang="en-US">
{HEADER}
<body>
   <a id="jumper" href="#main">Jump to the document body.</a>
   <div id="header">
      <h1><a href="/" title="/dev/root">.m0rph@work</a></h1>
{MENU}
   </div>

{BREADCRUMBS}

   <div id="main">

      <div class="box">
         <form id="contact" method="post" action="">
            <h3>Contact:</h3>
            <p>Do you have any suggestions, questions or just want to get in touch? Please feel free to use this contact form.</p>
            <p>{RESPONSE}</p>
            <table>
               <tr>
                  <td class="left"><label for="email"><sup>*</sup>eMail:</label></td>
                  <td class="right"><input type="email" id="email" name="email" autocomplete="email" required /></td>
               </tr>
               <tr>
                  <td class="left"><label for="name">Name:</label></td>
                  <td class="right"><input type="text" id="name" name="name" autocomplete="name" /></td>
               </tr>
               <tr>
                  <td class="left"><label for="organization">Organization:</label></td>
                  <td class="right"><input type="text" id="organization" name="organization" autocomplete="organization" /></td>
               </tr>
               <tr>
                  <td class="left"><label for="title">Position:</label></td>
                  <td class="right"><input type="text" id="title" name="title" autocomplete="organization-title" /></td>
               </tr>
               <tr>
                  <td class="left top"><label for="message"><sup>*</sup>Message:</label></td>
                  <td class="right"><textarea id="message" name="message" rows="5" cols="30" required></textarea></td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
                  <td>
                     <input class="button btn primary" type="submit" name="submit" value="Submit">
                     <input class="button btn primary" type="reset" name="reset" value="Reset">
                  </td>
               </tr>
            </table>
            <input type="hidden" name="site" value="{HOSTNAME}">
            <input type="hidden" name="valid" value="false">
         </form>
      </div>
      <!-- ⬆️ UP-LINK BUTTON -->
      <a href="#top" id="up-link" title="Back to top">
      <svg viewBox="0 0 24 24" width="24" height="24" fill="none">
         <path d="M8 5l8 7-8 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="rotate(-90 12 12)" />
      </svg>
      </a>
   </div>
{BOX_CONTACT_DATA}
{FOOTER}
</body>
</html>
