<!DOCTYPE html>
<html lang="en-US">
{HEADER}
<body>
   <a id="jumper" href="#main">Jump to the document body.</a>
   <div id="header">
      <h1><a href="/" title="/dev/root">.m0rph@work</a></h1>
{MENU}
   </div>
   <div id="main">

         <div id="image" class="box">
            <img src="/img/ethical-hacking.png" alt="Ethical Hacking" />
         </div>

         <div class="box">
            <h3>Who am I ...</a></h3>
            <p>
               Hey there. I'm <code>.m0rph</code>, a software developer and computer geek. My first home computer as a young boy was an
               <a class="code" href="https://en.wikipedia.org/wiki/Atari_8-bit_family#600XL_and_800XL" target="_blank">ATARI&nbsp;800XL</a>.
               In 1987 at the age of 16 I started programming <code>BASIC</code> and built my first bitmaps using
               <code>PEEKs</code> and <code>POKEs</code>.
            </p>
            <p>
               During my apprenticeship as Datenverarbeitungskaufmann, I learned how a computer works internally,
               how to build my own PCs and I had to learn structural programming
               (according to <a class="code" href="https://en.wikipedia.org/wiki/Nassi%E2%80%93Shneiderman_diagram" target="_blank">Nassi Shneiderman</a>) 
               and coding in <code>Turbo Pascal 7</code> together with <code>ANSI COBOL 85</code>.
            </p>
            <p>
               My first <code>UNIX</code> experience under
               <a class="code" href="https://www.oracle.com/solaris/solaris11/" target="_blank">Sun Solaris</a>
               I got in 2000 as a
               <a class="code" href="https://support.unicomsi.com/manuals/quantum/6/index.html" target="_blank">QUANTUM</a> programmer
               at an institue for market research, where I had to write counting scripts for statistical
               tables. At that time I started learning <code>HTML4</code>, <code>CSS</code> and <code>JavaScript 1.3</code>,
               developing websites in my spare time, because for me statistics is a little bit boring.
            </p>
         </div>

         <div class="box">
            <h3>And so my journey began ...</h3>
            <p>
               However, that was the time I had to setup my first dual boot configuration with <code>Windows</code> and
               <a class="code" href="https://debian.org" target="_blank">Debian GNU Linux</a>
               because on the one hand I wanted to do my work in web development, 
               managing my own web server, but on the other hand I also wanted to play
               <a class="code" href="https://diablo4.blizzard.com/" target="_blank">Diablo</a>.
            </p>
            <p>
               At first hopping on 
               <a class="code" href="https://www.gnu.org/software/grub/manual/grub/grub.html" target="_blank">grub</a>
               between <code>Linux</code> and <code>Windows</code> on two different hard drives, later then as my number
               of PCs grew, in my first own network of:
               <ol>
                  <li>a <code>pppoe/iptables</code> DSL router (AMD K6 350MHz),</li>
                  <li>a <code>Windows</code> gaming PC (AMD Athlon 1200MHz)</li>
                  <li>and a <code>Linux</code> workstation (AMD K6 II 500MHz)</li>
               </ol>
               with <a class="code" href="https://x.org/wiki/" target="_blank">X11</a> and
               <a class="code" href="https://xfce.org" target="_blank">Xfce</a>
               as my favorite window manager, because I am a keyboard lover and a
               so called mouse hater. I use the command line since
               <a class="code" href="https://en.wikipedia.org/wiki/MS-DOS" target="_blank">MS-DOS 6.22</a>
               on my <a class="code" href="https://en.wikipedia.org/wiki/I386" target="_blank">IBM 80386</a>.
               No, in former times we did <b>not</b> have any mouse.
            </p>
            <p>
               Nowadays, in times of virtualization and enough computing power, I only run one PC, a 10 year old
               AMD Phenom Quad Core, which still runs like a charm and an AMD A4 Laptop, using different encrypted operating system images in virtual environments
               using <a class="code" href="https://www.vmware.com/products/workstation-player.html" target="_blank">VMWare</a>.
            </p>
         </div>

         <div class="box">
            <h3>Closing words ...</h3>
            <p>
               Yes, I am definitely a fan of <a class="code" href="https://www.amd.com/en/processors/ryzen" target="_blank">AMD</a>
               processors, so my newest baby (Ryzen 7) now comes to the collection. <b>Diablo IV</b> after work, no way without!
               We need the right balance of stress and fun. ;-) 
            </p>
            <p>
               In the end I also have to mention that I was able to gain some experience under 
               <a class="code" href="https://en.wikipedia.org/wiki/SINIX" target="_blank">SINIX</a> on my little jewel, a
               <a class="code" href="https://www.google.com/search?q=siemens+nixdorf+mx300&sca_esv=595014638&tbm=isch&sxsrf=AM9HkKkyVvzPIyrclzuRAeRmHffHwbd74A:1704176019619&source=lnms&sa=X&ved=2ahUKEwiLy6Kyhr6DAxUthP0HHanODisQ0pQJKAB6BAgDEAM&biw=1331&bih=748&dpr=1" target="_blank">Siemens Nixdorf MX300</a>,
               which I was able to get for free from the Statistisches Bundesamt. It was really horrible to get this big 40kg monster
               upstairs into my living room. *lol*
            </p>
            <p>
               Finally: I do my coding and penetration testing work under <code>Windows</code>,
               <a class="code" href="https://debian.org" taget="_blank">Debian</a> and
               <a class="code" href="https://kali.org" taget="_blank">Kali</a> Linux
               and I am an oldscool coder using <a class="code" href="https://www.vim.org" target="_blank">(g)vim</a>
               and my holy shell <a class="code" href="https://zsh.org" target="_blank">zsh</a>.
            </p>
            <p><i>Have a lot of Fun ...</i></p>
            <p><small><b>.m0rph</b></small></p>
         </div>
   </div>
{BOX_CONTACT_DATA}
{FOOTER}
</body>
</html>
