<!DOCTYPE html>
<html lang="en-US">
{HEADER}
<body>
   <a id="jumper" href="#main">Jump to the document body.</a>
   <div id="menu">
      <h1><a href="/" title="/dev/root">.m0rph's Blog</a></h1>
{NAVIHTML}
   </div>
   <div id="main">
      <div class="left">
         <div id="image" class="box">
            <img src="/img/whats-your-address.jpg" width="320" alt="Office talking" />
         </div>
      </div>
      <div class="right">
         {BLOG_ARTICLES}
      </div>
   </div>
{BOX_CONTACT_DATA}
{FOOTER}
</body>
</html>